#header-container {
    background: #1d486b;
    padding: 15px 0;

    ul#menu-main-menu {
        display: inline-block;
        position: relative;
        top: 20px;

        li {
            display: inline-block;

            &:last-child a {
                padding-right: 0;
            }

            a {
                color: #ffffff;
                display: block;
                padding: 0 15px;
            }
        }
    }
}

#page-header {
    background-size: cover !important;
    padding: 320px 0;

    @include breakpoint(medium down) {
        padding: 160px 0;
        width: 100%;
    }

    h1, p {
        color: #ffffff;
    }
}