html, body {
    height: 100%;
    position: relative;
}

#services-title-container {
    background: url('../images/dotted.png') no-repeat top left scroll transparent;
    padding-top: 365px;
}

#call-to-action-container {
    background-size: cover !important;
    padding: 80px 0;

    h2 {
        color: #ffffff;
    }

    .button:hover {
        border-color: #ffffff;
        color: #ffffff;
    }
}

body {
    font-family: 'Open Sans', sans-serif !important;

    .justified-center {
        justify-content: center;
    }

    .page-content {
        padding: 80px 0;
    }

    .flexslider {
        border: none;
        margin: 0;

        .flex-control-nav {
            bottom: 60px;
            z-index: 999;

            a {
                background: rgba(255, 255, 255, .25);
            }

            a.flex-active {
                background: #ffffff;
            }
        }
    }

    p, li, span, label, input, a, textarea, .button, table {
        color: #717487;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }

    a {
        transition-duration: .3s;

        &:hover {
            color: #000000;
            transition-duration: .3s;
        }

    }

    .fa, .fab, .fal, .far, .fas {
        font-weight: 300;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #181818;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 1.5rem;

        span {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
        }

        a {
            font-family: inherit;
            font-size: inherit;
            transition-duration: .3s;

            &:hover,
            &:focus,
            &:active {
                color: #6f7274;
            }
        }
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px
    }

    .social-media {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                background: #7c7c7c;
                border-radius: 100%;
                color: #ffffff;
                display: block;
                height: 32px;
                line-height: 2;
                text-align: center;
                transition-duration: .3s;
                width: 32px;
            }

            .facebook:hover {
                background: #4162A7;
            }

            .instagram:hover {
                background: #CA329B;
            }

            .twitter:hover {
                background: #53A2D2;
            }

            .pinterest:hover {
                background: #CB2130;
            }
        }
    }
}

#customer-section-container {
    background: #f1f1f1;
    padding-top: 80px;

    .owl-carousel {
        margin-top: 80px;

        .owl-item img {
            margin: 0 auto;
            width: auto;
        }
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 40px;
    }

    .image-background {
        display: block;
        margin: 0 auto;
    }
}

.accordion {
    li {
        border-bottom: 1px solid #ebecee;
        padding-top: 25px;
        position: relative;
    }

    p {
        display: none;
    }

    a {
        cursor: pointer;
        display: block;
        font-size: 0.875rem;
        font-size: 14px;
        font-weight: 600;
        line-height: 3;
        text-indent: 15px;
        user-select: none;
        width: 100%;

        &:after {
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            border-bottom: 1px solid #4a6e78;
            border-right: 1px solid #4a6e78;
            content: " ";
            height: 8px;
            position: absolute;
            right: 10px;
            top: 25px;
            transform: rotate(-45deg);
            transition: all 0.2s ease-in-out;
            width: 8px;
        }
    }

    a.active:after {
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}