body.home {
    #slider-container {
        height: 95%;
        position: relative;

        @include breakpoint(small down) {
            height: 40%;
        }

        div.flexslider, ul.slides, li.slide {
            height: 100%;
            position: relative;
        }

        ul.slides {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li.slide {
            background-position: top center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            display: block;
            width: 100%;

            .slider-content-container {
                display: table;
                height: 100%;
                margin: 0 auto;
                max-width: 1200px;
                position: relative;
                width: 100%;

                .slider-content {
                    display: table-cell;
                    vertical-align: middle;

                    div {
                        width: 42%;

                        @include breakpoint(medium down) {
                            padding: 0 0.9375rem;
                            width: 100%;
                        }

                        @include breakpoint(large) {
                            padding: 0 0.9375rem;
                            width: 50%;
                        }

                        h2 {
                            color: #ffffff;
                        }

                        p {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    #services-section-container {
        margin-top: 60px;

        #services-title-container {
            background: url('../images/dotted.png') no-repeat top left scroll transparent;
            padding-top: 365px;

            @include breakpoint(medium down) {
                background: none;
                padding-top: 0;

                img {
                    display: block;
                    margin: 0 auto 40px;
                }
            }

            @include breakpoint(small down) {
                img {
                    display: none;
                }
            }

            @include breakpoint(landscape small down) {
                img {
                    display: none;
                }
            }

            @include breakpoint(large above) {
                img {
                    display: none;
                }
            }
        }

        #services-list {
            padding-top: 135px;

            @include breakpoint(medium down) {
                padding-top: 40px;
            }

            .service {
                border-bottom: 1px solid #ebecee;
                margin-bottom: 25px;
                padding-bottom: 25px;

                &:last-child {
                    border: none;
                }

                p {
                    margin: 0;
                }

                .far {
                    color: #2293d7;
                    font-size: 48px;
                }
            }
        }
    }

    #about-section-container {
        background: #f6f8fc;
        padding: 80px 0;

        @include breakpoint(medium down) {
            text-align: center;
        }
    }
}