body.single-project {
    .meta-container {
        margin-bottom: 60px;

        span {
            font-size: 13px;
        }

        strong {
            font-weight: normal;
        }

        @include breakpoint(medium down) {
            .cell {
                margin-bottom: 30px;
            }
        }
    }

    #pagination-container {
        padding: 30px 0;

        strong {
            font-weight: normal;
        }

        h4 {
            color: #000000;
            font-size: 24px;
            margin: 0;

            @include breakpoint(small down) {
                display: none;
            }

            a {
                color: #000000;
            }
        }
    }
}