body.single-project {
    .embed-container { 
        height: auto;
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative; 
    } 

    .embed-container iframe,
    .embed-container object,
    .embed-container embed { 
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .meta-container {
        margin-bottom: 60px;

        span {
            font-size: 13px;
        }

        strong {
            font-weight: normal;
        }

        @include breakpoint(medium down) {
            .cell {
                margin-bottom: 30px;
            }
        }
    }

    #project-video-container {
        margin-bottom: 60px;
    }

    #pagination-container {
        padding: 30px 0;

        strong {
            font-weight: normal;
        }

        h4 {
            color: #000000;
            font-size: 24px;
            margin: 0;

            @include breakpoint(small down) {
                display: none;
            }

            a {
                color: #000000;
            }
        }
    }
}